@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$color-red: #E74C3C;
$color-blue: #5DADE2;
$color-yellow: #F5B041;
$color-gray: #EBEDEF;

@mixin box-shadow($x-offset, $y-offset, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $x-offset $y-offset $blur $color;
    -moz-box-shadow: inset $x-offset $y-offset $blur $color;
    box-shadow: inset $x-offset $y-offset $blur $color;
  }

  @else {
    -webkit-box-shadow: $x-offset $y-offset $blur $color;
    -moz-box-shadow: $x-offset $y-offset $blur $color;
    box-shadow: $x-offset $y-offset $blur $color;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
