<mat-toolbar class="form-container">
  <form (ngSubmit)="sendMessage()" action="">
    <mat-form-field class="full-width">
      <input matInput (keydown.enter)="sendMessage()" (keydown)="userIsTyping($event)" [(ngModel)]="message" name="message" placeholder="Message" />
      <button mat-button *ngIf="message" matSuffix mat-icon-button aria-label="Clear" (click)="message=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button type="submit" mat-stroked-button>Send</button>
  </form>
</mat-toolbar>
