@import "../../styles.scss";

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  min-height: 80px;

  form {
    width: 100%;
    margin: auto 20px;
    max-width: 750px;
    display: flex;
    align-items: baseline;
    height: 80%;

    .full-width {
      width: 100%;
    }

    button {
      margin-left: 15px;
    }
  }
}
