<div id="messages">
  <ng-container class="messages" *ngFor="let message of messages; let i = index">
    <ng-container *ngIf="message.author != 'System' && (i === 0 || message.author !== messages[i-1].author)">
      <div [ngClass]="{
          'author-container': true,
          'author-container--your': message.author=='You'}">
        <div class="author"> {{message.author}} </div>
      </div>
    </ng-container>
    <div [ngClass]="{
        'message-container--your': message.author=='You',
        'message-container--system':message.author=='System',
        'message-container': true }">
      <div class="message"> {{message.message}} </div>
    </div>
  </ng-container>
</div>
