@import "../../styles.scss";

#messages {

  margin-top: 70px;

  .author-container {
    display: flex;

    .author {
      font-weight: bold;
      font-size: 1.1rem;
      margin: 12px 20px 0;
    }

    &+.message-container:not(.message-container--system) {
      .message {
        border-top-left-radius: 0;

        &:before {
          content: "\A";
          border-style: solid;
          border-width: 0px 15px 14px 0;
          position: absolute;
          left: -15px;
          top: -1px;
          border-color: transparent $color-red transparent transparent;
        }
      }

      &.message-container--your {
        .message {
          border-top-left-radius: 7px;
          border-top-right-radius: 0;

          &:before {
            left: auto;
            right: -15px;
            border-color: transparent $color-blue transparent transparent;
            transform: rotateY(180deg);
          }
        }
      }
    }

    &.author-container--your {
      justify-content: flex-end;
    }

    &.author-container--system {
      justify-content: center;
    }
  }

  .message-container {
    display: flex;

    .message {
      position: relative;
      padding: 12px 30px;
      max-width: 600px;
      min-width: 10%;
      margin: 10px 20px;
      background: $color-red;
      border: 1px solid $color-red;
      @include box-shadow(3px, 3px, 5px, darken($color-red, 15%));
      border-radius: 7px;

      @media screen and (max-width: 768px) {
        max-width: 100%;
      }
    }

    &.message-container--your {
      justify-content: flex-end;

      .message {
        background: $color-blue;
        border-color: $color-blue;
        @include box-shadow(3px, 3px, 5px, darken($color-blue, 15%));
      }
    }

    &.message-container--system {
      justify-content: center;

      .message {
        width: 100%;
        text-align: center;
        background: $color-yellow;
        border-color: $color-yellow;
        @include box-shadow(3px, 3px, 5px, darken($color-yellow, 15%));
      }
    }
  }
}
