<h1 mat-dialog-title>Hi</h1>
<form>
  <div mat-dialog-content>
    <p>What's your name?</p>
    <mat-form-field>
      <input matInput #userNameInput [formControl]="userNameFormControl">
      <mat-error *ngIf="userNameFormControl.hasError('required')">
        User name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [disabled]="!userNameFormControl.valid" [mat-dialog-close]="userNameInput.value">Submit</button>
  </div>
</form>
