<div id="app">
  <mat-toolbar class="header">{{title}}</mat-toolbar>
  <div #chat id="chat">
    <Messages [messages]="messages"></Messages>
    <Typing [eventNewMessageFromUser]="newMessageFromUserEvent.asObservable()"
      [eventUserTyping]="userTypingEvents.asObservable()"></Typing>
    <ChatForm (sendUserTypingEvent)="sendUserTyping()" (sendMessageEvent)="sendMessage($event)"></ChatForm>
  </div>
</div>
