<div id="typing-users">
  <ng-container *ngFor="let typingUser of typingUsers">
    <div class="typing-container">
      <div id="{{typingUser.userName}}-typing" class="typing"> {{typingUser.userName}} is typing </div>
    </div>
  </ng-container>
</div>