@import "../../styles.scss";

#typing-users {
  margin-bottom: 90px;
  min-height: 1px;

  .typing-container {
    display: flex;

    .typing {
      padding: 12px 30px;
      max-width: 60%;
      min-width: 10%;
      margin: 10px 20px;
      background: $color-gray;
      border: 1px solid $color-gray;
      @include box-shadow(3px, 3px, 5px, darken($color-gray, 15%));
      border-radius: 7px;
    }
  }
}
